
body {
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    margin: 0;
}

/*http://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox*/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height:15px;
}

.flex-item {
    background: gray;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.4vw;
    text-align: center;
    flex: 1 0 auto;
    height:40px;
}

.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}

.flex-item:hover {
    background-color: lightgray;
}

.content {
    width: 100%;
    /*height: 400px;*/
}

.hud {
    width: 100%;
    height: auto;
    display: inline-block;
}

.row {
    width: 100%;
    height: 100px;
    display: inline-block;
}

.hud-item {
    width: 150px;
    display: inline-block;
    float: left;
    margin: 5px;
}

.turn-title {
    margin: 0;
    margin-bottom: 8px;
}

.buttons {
    font-size: 0.8em;
    max-width: 50%;
    padding-top: 8px;
    width: auto;
}

.selected {
    background-color: blue;
}

.missed {
    background-color: red;
}

.hit {
    background-color: green;
}

.footer {
    margin: 8px;
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}

.start-button {
    text-align: center;
    margin: 8px;
    margin-top: 50px;      
}

.press-start {
    text-align: center;
    margin: 8px;  
}

.start-screen {
    height: 500px;
    font-size: 40px;
    margin-top: 100px;
}

.kill-list {
    display: inline-block;
    float: right;
    font-size: 8px;
}

.destroyed {
    text-decoration: underline;
}

.hud-message {
    display: inline-block;
}

/*http://stackoverflow.com/revisions/16344389/7*/
/*Blinking divs.*/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@media (min-width: 560px) {
    .flex-item {
        font-size: 10px;
    }
}
@media (min-width: 768px) {
    .main {
        /*font-size: 10px;*/
        width: 600px;
        margin-left: auto;
        margin-right: auto;        
    }
}

